*.pidb
configure
install-sh
aclocal.m4
config.status
config.log
autom4te.cache
missing
*Makefile.in
*.dll
*.exe
bin/
obj/
*.userprefs
*.pc
.DS_Store
*.user
*.suo
*.DotSettings
*.sdf
*.opensdf
*.pdb
*.filters
*.metagen
*.ilk
*.manifest
*.dylib
bindings.h
bindings.m
/build/.vagrant
/build/gen
/build/lib
/build/obj
/build/vs2015
/build/gmake
/build/packages
/build/projects/packages
/external/jna
/external/ikvm
packages
.nuget/.nugetapikey
/tests/android/**/.project
.gradle/
.idea/
*.obj
UpgradeLog*.htm

### Xcode ###
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.nupkg
*.bak
.cake/**
!.cake/packages.config
.vscode/
.vs/
Resource.designer.cs
external/Xamarin.Android