[submodule "ikvm"]
	path = ikvm
	url = https://github.com/mono/ikvm-fork.git
[submodule "catch"]
	path = catch
	url = https://github.com/philsquared/Catch.git
[submodule "CppSharp"]
	path = CppSharp
	url = https://github.com/mono/CppSharp
[submodule "Xamarin.MacDev"]
	path = Xamarin.MacDev
	url = https://github.com/xamarin/Xamarin.MacDev.git
[submodule "Xamarin.Android.Tools"]
	path = Xamarin.Android.Tools
	url = git@github.com:xamarin/xamarin-android-tools.git
