*.pidb
configure
install-sh
aclocal.m4
config.status
config.log
autom4te.cache
missing
*Makefile
*Makefile.in
*.dll
*.exe
bin/
obj/
*.userprefs
*.pc
.DS_Store
*.user
*.suo
*.DotSettings
*.sdf
*.opensdf
*.pdb
*.config
*.filters
*.metagen
*.ilk
*.manifest
*.dylib
bindings.h
bindings.m
/build/gen
/build/lib
/build/obj
/build/vs2015
/build/gmake
/build/packages
/build/projects/packages
/external/jna
/external/ikvm
/tests/**/gen/c
/tests/**/gen/objc
/tests/**/gen/java
packages
