*.pidb
configure
install-sh
aclocal.m4
config.status
config.log
autom4te.cache
missing
*Makefile
*Makefile.in
*.dll
*.exe
bin/
*.userprefs
*.pc
.DS_Store
*.user
*.suo
*.DotSettings
*.sdf
*.opensdf
*.pdb
*.config
*.filters
*.metagen
*.ilk
*.manifest
/build/gen
/build/lib
/build/obj
/build/vs2015
/build/gmake
/external/jna
/external/ikvm
