# Reference: http://www.appveyor.com/docs/appveyor-yml
# Notes:
#   - Indent each level of configuration with 2 spaces. Do not use tabs!

#---------------------------------#
#      general configuration      #
#---------------------------------#

version: 1.0.{build}

branches:
  only:
    - master
  except:
    - gh-pages

#---------------------------------#
#    environment configuration    #
#---------------------------------#

matrix:
  fast_finish: true

image: Visual Studio 2017

platform:
  - x86

configuration:
  - Release

environment:
  MONO_INSTALLER: mono-5.0.1.1-gtksharp-2.12.44-win32-0.msi
  JAVA_HOME: C:\Program Files\Java\jdk1.8.0
  NUGET_API_KEY:
    secure: M7FCCdLkTgVrs4rejEtDi8yw6dAJxqFruJlUUWvR2B5f4ABB8SJCROdKaA6doRMV

cache:
  - packages -> **\packages.config
  - external\Xamarin.Android -> build.cake

#---------------------------------#
#    build scripts                #
#---------------------------------#

init:
  - cmd: git config --global core.autocrlf true

install:
  - cmd: appveyor DownloadFile https://download.mono-project.com/archive/5.0.1/windows-installer/%MONO_INSTALLER%
  - cmd: msiexec /i %MONO_INSTALLER% /qn /norestart

build_script:
  - cmd: git submodule update --init --recursive
  - ps: .\build.ps1 -t AppVeyor -v diagnostic
