# Minimum Mono version
MIN_MONO_VERSION=5.8.0.118
MAX_MONO_VERSION=5.8.0.118
MIN_MONO_URL=https://bosstoragemirror.azureedge.net/wrench/mono-2017-10/73/7344771071aaf214d94ae1b8e4ba91c8961fe2d0/MonoFramework-MDK-5.8.0.118.macos10.xamarin.universal.pkg

# Minimum Xamarin.iOS version
MIN_XI_VERSION=11.5.1.49
MAX_XI_VERSION=11.5.1.49
MIN_XI_URL=https://bosstoragemirror.azureedge.net/wrench/macios-mac-xcode9.2/11/113e518d9d04ce404414d810111af95a666d5280/xamarin.ios-11.5.1.49.pkg

# Minimum Xamarin.Mac version
MIN_XM_VERSION=4.1.1.49
MAX_XM_VERSION=4.1.1.49
MIN_XM_URL=https://bosstoragemirror.azureedge.net/wrench/macios-mac-xcode9.2/11/113e518d9d04ce404414d810111af95a666d5280/xamarin.mac-4.1.1.49.pkg
