# Minimum Mono version
MIN_MONO_VERSION=5.16.0.221
MAX_MONO_VERSION=5.16.0.221
MIN_MONO_URL=https://download.visualstudio.microsoft.com/download/pr/46c7e581-4431-4247-9290-0d8a01e9d13a/46083944a2325576a03158d60d36a41e/monoframework-mdk-5.16.0.221.macos10.xamarin.universal.pkg

# Minimum Xamarin.iOS version
MIN_XI_VERSION=12.2.1.12
MAX_XI_VERSION=12.2.1.12
MIN_XI_URL=https://download.visualstudio.microsoft.com/download/pr/ae5c9ea8-ff17-448b-ae5f-24c69c2d2a9b/d9d62c813492e750e999699aa8904e40/xamarin.ios-12.2.1.12.pkg

# Minimum Xamarin.Mac version
MIN_XM_VERSION=5.2.1.12
MAX_XM_VERSION=5.2.1.12
MIN_XM_URL=https://download.visualstudio.microsoft.com/download/pr/f9f9988e-d20f-4a3f-afb0-ac331c87013c/e3b67ed938dbfd32811529e6670301ff/xamarin.mac-5.2.1.12.pkg
