# Minimum Mono version
MIN_MONO_VERSION=5.0.0.18
MAX_MONO_VERSION=5.0.99
MIN_MONO_URL=https://bosstoragemirror.blob.core.windows.net/wrench/mono-2017-02/9e/9ed0907eea13005d4e93b9c5f42c5c3015eba409/MonoFramework-MDK-5.0.0.18.macos10.xamarin.universal.pkg

# Minimum Xamarin.iOS version
MIN_XI_VERSION=10.11.0.107
MAX_XI_VERSION=10.11.0.107
MIN_XI_URL=https://bosstoragemirror.blob.core.windows.net/wrench/macios-mac-master/f4/f445856652727a331b783dbb9e4e5069a8071c20/xamarin.ios-10.11.0.107.pkg

# Minimum Xamarin.Mac version
MIN_XM_VERSION=3.2.0.175
MAX_XM_VERSION=3.6.99
MIN_XM_URL=https://dl.xamarin.com/XamarinforMac/Mac/xamarin.mac-3.2.0.175.pkg
