glib.c
glib.h
mono_embeddinator.c
mono_embeddinator.h
objc-support.m
objc-support.h
perf-cli
test-cli
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
i386
x86_64

